<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{xml .Label}}</string>

	<key>ProgramArguments</key>
	<array>
{{- range .ProgramArguments}}
		<string>{{xml .}}</string>
{{- end}}
	</array>

	<key>StartInterval</key>
	<integer>{{.StartInterval}}</integer>

	<key>RunAtLoad</key>
	<true/>

	<key>ProcessType</key>
	<string>Background</string>

	<key>StandardOutPath</key>
	<string>{{xml .StdoutPath}}</string>

	<key>StandardErrorPath</key>
	<string>{{xml .StderrPath}}</string>

	<key>WorkingDirectory</key>
	<string>{{xml .WorkingDirectory}}</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>{{xml .HomeDir}}</string>
		<key>PATH</key>
		<string>{{xml .PathEnv}}</string>
	</dict>
</dict>
</plist>
